html, body, ul, ol, li, form, fieldset, legend {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background: white;
}

#main {
    margin: 0 auto;
    width: 700px;
}

input {
    padding: 4px;
    border: solid 1px #E5E5E5;
    outline: 0;
    background: #FFFFFF;
    margin-right: 9px;
}
input:hover, input:focus {
    border-color: #C9C9C9;
}
label {
    padding-right: 9px;
}
#control button {
    font-weight:bold;
    cursor: pointer;
}
#control button.stop {
    display: none;
}
#control.connected button.start {
    display: none;
}
#control.connected button.stop {
    display: inline;
}
